body {
    display: inline-block;
    background-color: #121212;
}


.menubar {
    position: absolute;

    margin-left: 5vw;
    margin-top: 5vw;

    width: 17vw;
    height: 50vh;

    border-radius: 25px;
    box-shadow: 0px 0px 50px 3px rgba(255,255,255,0.20);
}

.linkarea {
    position: absolute;


    width: 17vw;
    height: 10vh;

    margin-left: 5vw;
    margin-top: 35vw;

    padding: 1vw;

}

.mainframe {
    position: absolute;

    margin-top: 5vw;
    margin-left: 27vw;

    height: 80vh;
    width: 68vw;

    border-radius: 25px;
    box-shadow: 0px 0px 50px 3px rgba(255,255,255,0.20);
}

.menu-item {
    display:flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 22pt;
    font-weight: 500;
    color: #FFFFFF;
}

h2:hover {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
}

h2.contact {
    margin-top: 20%;
    color: #E45656;
}

.home {
    margin-top: 20%;
}

.textarea {
    height: 70%;
    width: 90%;
    background-color: #252525;
    margin-top: 20.2%;

    border-radius: 25px 25px 0 0;


}

.profilepicture {
    position: absolute;
    height: 20vh;
    width: 20vh;
    margin-top: 8%;
    background-color: #252525;

    border-radius: 50%;

    background-image: url("profpic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.mainframe {
    display: flex;
    justify-content: center;

}

.title, .subtitle {
    font-family: Helvetica;
    text-align: center;
    color: white;
}

.title {
    font-size: 50pt;
    font-weight: 600;
    
}

.subtitle {
    font-size: 25pt;
    font-weight: 300;
    margin-top: -5vh;
    padding-top: 0;
}

.icon-mode {
    width: 25pt;
    height: 25pt;
    fill: white;
}


